*{
    margin: 0;
    padding: 0;
    background:radial-gradient(circle, rgba(212,244,255,1) 0%, rgba(255,255,255,1) 100%);
    text-align: center;
    padding-top: 10px;
}
body{
    background-color:#cbd4d7 ;
}
h1{
    font-family: "Source Sans Pro";
  font-weight: normal;
  font-size: 65px;
  color: black;
}
.fonte{
    font-family: "Pacifico";
    line-height: 10%;
    position: absolute;
    z-index: 2;
    margin-left: -50px;
}
p{
    margin-top: 50px;
    margin-left: 50px;
    color: #000;
}
.btn-warning{
    background-color: aqua;
    color: #000;
}
.btn-warning:active{
    background-color: aquamarine;
    color: #000;
}
.btn-warning:hover{
    background-color: white;
    color: #000;
}
h2{
    margin-top: 60px;
    margin-bottom: 20px;
    font-family: "Caveat Brush";
    font-size: 45px;
    padding: 20px;
}
*footer{
    color: #fff;
}